body {
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#notePad {
  height: 15em;
  width: 100%;
  font-size: 16px;
}

#inputBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul > li {
  margin-bottom: 2em;
}

#noteSave, #clearInput, #deleteAllInputs {
  height: 2em;
  width: 30%;
  font-size: 15px;
  padding: 0;
  border-radius: 0.5em;
  background-color: #FFFFFF;
}

#deleteButton, #editButton {
  font-size: 11px;
  height: 2em;
  padding: 1px 7px;
  border-radius: 0.5em;
  background-color: #FFFFFF;
}

#noteSave:hover, #clearInput:hover, #deleteAllInputs:hover, #deleteButton:hover, #editButton:hover{
  cursor: pointer;
  background-color: #F5F5F5;
}

#noInput {
  visibility: visible;
}

li {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 40px;
}

#noteListItem {
  margin-inline-start: 10%;
}

#itemBtnContainter {
  display: flex;
  flex-direction: row-reverse;
}