body {
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#notePad {
  height: 15em;
  width: 100%;
  font-size: 16px;
}

#noteSave {
  margin-left: 35%;
  height: 2em;
  width: 30%;
  font-size: 15px;
  padding: 0;
}

#noteListItem {
  margin-inline-start: 11em;
}