/* ======================
    BASE STYLE
========================== */

* {
  box-sizing: border-box;
}

body {
  width: 70%;
  margin: auto;
}

h1, h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}


/* ======================
    PAGE STYLING
========================== */

#notePad {
  max-width:100%;
  width: 100%;
  height: 30vh;
}

#inputBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.noteSave, 
.clearInput, 
.deleteAllInputs {
  margin-top: .75rem;
  height: 2rem;
  width: 30%;
  padding: 0;
  border-radius: 0.5em;
  background-color: #FFFFFF;
}

.noteSave:hover, 
.clearInput:hover, 
.deleteAllInputs:hover, 
.delete:hover, 
.edit:hover, 
li:hover{
  cursor: pointer;
  background-color: #F5F5F5;
}

.noInput {
  text-align: center;
  font-size: 2em;
  font-weight: inherit;
}

.noteList{
  padding-left: 0;
}

.noteList li {
  display: flex;
  justify-content: flex-start;
}

.noteList li {
  padding: .75rem .5rem;
  height: 15vh;
}

.noteList li:nth-child(odd) {
  background-color: lightgray;
}

.pages {
  display: none;
}

.delete, 
.edit {
  font-size: .75em;
  padding: .25rem .5rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  margin-right: 0;
}

.delete, 
.edit {
  margin-bottom: auto;
}

.delete {
  margin-left: auto;
}

/* ======================
    MEDIA QUERIES
========================== */

@media(min-width: 987px) {

  body{
    width: 80%;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  #notePad {
    height: 35vh;
  }

  .notepad-container, .noteListContainer {
    width: 48%;
  }

  .noteListContainer {
    margin-top: 5rem;
  }

  .noteList li {
    flex-wrap: wrap;
  }
}